# Ignore data
data/*
!data/raw/*/.gitkeep
!data/raw/srv2018/verkehrsanteile.txt
!data/interim/.gitkeep
!data/processed/.gitkeep 

# Ignore word outputs
*.docx

# Ignore notebook checkpoints
.ipynb_checkpoints
